body{
  background-color: #555;
  text-align: center;
  margin: 30%;
  margin-top:0px;
  }
h1{
  font-size:4rem;
  color: #0f3;
  font-family: 'Cinzel', serif;
}

h2{
  font-size:3rem;
  color:#0f2;
  font-family:'Shalimar', cursive;
}
/*font-family: 'Cinzel', serif;
font-family: 'Shalimar', cursive;*/
  div {
  text-align: center;
  display: inline-block;
  padding-left: 20px;
}
